# Week 7: Independent Lab – Data Manipulation
### Course: Graduate Introduction to Python (BGEN 632 – UM MSBA)
### Name: Michelle Calderwood
### Date: 4-8-25

#### Setup

In [99]:
import pandas as pd
from datetime import datetime

#### Step 1: Import and Merge Data

In [102]:
hospitals = pd.read_csv("data/CaliforniaHospitalData.csv")
personnel = pd.read_csv("data/CaliforniaHospitalData_Personnel.txt", delimiter="\t")

merged = pd.merge(hospitals, personnel, on="HospitalID", how="inner")

#### Step 2: Drop Unnecessary Columns

In [104]:
drop_cols = ['Work_ID', 'PositionID', 'Website']
merged = merged.drop(columns=drop_cols)

#### Step 3: Filter, Export, and Save

Create Dataset Copy

In [140]:
filtered = merged.copy()
print(filtered.shape)

(61, 22)

Export the full dataset

In [142]:
filtered.to_csv("data/hospital_data_new.txt", sep="\t", index=False)

Load it back in as hospital_data

In [144]:
hospital_data = pd.read_csv("data/hospital_data_new.txt", delimiter="\t")
print(hospital_data.shape)  # Confirm it has 61 rows

(61, 22)

Confirm Rows

In [155]:
print(hospital_data.shape)

(61, 22)

#### Step 4: Rename Columns

In [160]:
hospital_data = pd.read_csv("data/hospital_data_new.txt", delimiter="\t")
hospital_data = hospital_data.rename(columns={
    "NoFTE": "FullTimeCount",
    "NetPatRev": "NetPatientRevenue",
    "InOperExp": "InpatientOperExp",
    "OutOperExp": "OutpatientOperExp",
    "OperRev": "Operating_Revenue",
    "OperInc": "Operating_Income"
})

#### Step 5: Insert Two New Employee Records

In [162]:
hospital_data.shape
hospital_data.head()

,HospitalID,Name,Zip,TypeControl,Teaching,DonorType,FullTimeCount,NetPatientRevenue,InpatientOperExp,OutpatientOperExp,...,AvlBeds,LastName,FirstName,Gender,PositionTitle,Compensation,MaxTerm,StartDate,Phone,Email
0,45740,Mammoth Hospital,93546-0660,District,Small/Rural,Charity,327.0,135520.2186,20523425.53,34916220.47,...,15,Web,David,M,Safety Inspection Member,23987,2,1/1/2012,785-532-2452,david.web@comenitymed.com
1,12145,Victor Valley Community Hospital,92392,Non Profit,Small/Rural,Charity,345.0,136156.6913,33447542.78,20348596.22,...,99,Rodriguez,Jose,M,Regional Representative,46978,4,1/1/2009,405-744-2238,jose.rodriguez@edihealth.com
2,25667,Pioneers Memorial Hospital,92227,District,Small/Rural,Charity,601.2,197094.2541,37254178.67,37832448.33,...,107,Adamson,David,M,Regional Representative,46978,4,1/1/2012,785-532-7573,david.adamson@txbiomed.net
3,46996,Ridgecrest Regional Hospital,93555,Non Profit,Small/Rural,Charity,400.0,139170.3798,23385570.10,24661355.90,...,55,Roberts,Melissa,F,Safety Inspection Member,23987,2,1/1/2009,785-532-9779,melissa.roberts@txbiomed.net
4,37393,Barstow Community Hospital,92311,Investor,Small/Rural,Charity,262.0,116797.8306,13684502.49,15159986.51,...,42,Iwata,Akira,M,Regional Representative,46978,4,1/1/2011,801-611-9161,akira.iwata@hsu.edu

In [164]:
new_employees = pd.DataFrame([
    {
        "HospitalID": hospital_data.iloc[0]['HospitalID'],
        "LastName": "Calderwood",
        "FirstName": "Michelle",
        "Gender": "F",
        "PositionTitle": "Regional Representative",
        "Compensation": 46978,
        "MaxTerm": 4,
        "StartDate": datetime.today().strftime('%Y-%m-%d')
    },
    {
        "HospitalID": hospital_data.iloc[1]['HospitalID'],
        "LastName": "Calderwood",
        "FirstName": "Michelle",
        "Gender": "F",
        "PositionTitle": "State Board Representative",
        "Compensation": 89473,
        "MaxTerm": 3,
        "StartDate": datetime.today().strftime('%Y-%m-%d')
    }
])

#### Fill in missing columns from original DataFrame with dummy values or copy from existing rows

In [166]:
for col in hospital_data.columns:
    if col not in new_employees.columns:
        new_employees[col] = hospital_data[col].iloc[0]

new_merge = pd.concat([hospital_data, new_employees], ignore_index=True)

#### Step 6: Filtering Data

In [168]:
non_profit_filtered = new_merge[(new_merge['TypeControl'] == 'Non-Profit') & 
                                 (new_merge['FullTimeCount'] > 250) &
                                 (new_merge['NetPatientRevenue'] >= 109000)].copy()

non_profit_filtered = non_profit_filtered.drop(columns=[
    'LastName', 'FirstName', 'Gender', 'PositionTitle', 'Compensation', 'MaxTerm', 'StartDate'])

regional_reps = new_merge[(new_merge['PositionTitle'] == 'Regional Representative') &
                          (new_merge['Operating_Income'] > 100000)].copy()

#### Step 7: Convert Dates and Confirm

Convert 'StartDate' to datetime, handling mixed formats and potential parsing errors

In [191]:
new_merge['StartDate'] = pd.to_datetime(new_merge['StartDate'], errors='coerce')

#### Confirm datatypes

In [197]:
print(new_merge['StartDate'].dtypes)
print(new_merge['StartDate'].head())

datetime64[ns]
0   2012-01-01
1   2009-01-01
2   2012-01-01
3   2009-01-01
4   2011-01-01
Name: StartDate, dtype: datetime64[ns]

# References

- Instructor video walkthrough (Canvas, Week 7)  
- pandas documentation: https://pandas.pydata.org/  
- scikit-learn KFold: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html  
- ChatGPT support log: [Week07_HelperNotebook.ipynb](Week07_HelperNotebook.ipynb)